<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord</title>
</head>
<body>
    <h1>Visualisation des Pandémies</h1>
    <iframe title="pandemie" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=3283591d-2c69-4e3c-bd35-594b6ce9639c&autoAuth=true&ctid=b6e77e52-65f6-4dec-b7d9-8e45f36a536f" frameborder="0" allowFullScreen="true"></iframe>

</body>
</html>
